.head{
	position: fixed;
	left: 0px;
	right: 0px;
	height: 150px;
	width: 100%;
	background-color: #0a2d42;
	z-index: 100;
}
.logo-text{
	display: block;
	font-family: "Helvetica Neue";
	font-weight: bold;
	color: white;
}
.div-logo{
	height: 100%;
	text-align: center;
	margin: 10px;
	float: left;
}
.web-nav{
	float: right;
	height: 100%;
}
.web-nav a{
	color: white;
	font-size: 15px;
	font-weight: 700;
	font-family: "Helvetica Neue";
	padding-right: 20px; 
	padding-top: 12%;
	display: inline-block;
}
.site-content{
	position: absolute;
	top: 78px;
	width: 100%;
}
.image-content{
	background-image: url("background-img.jpg");
	height: 700px;
	width: 100%;
	text-align: center;
}
.quote{
	color: white;
		font-family: "Helvetica Neue";
		position: relative;
		top: 20%;

}
.para{
	color:#8dedee;
		font-family: "Helvetica Neue";
		position: relative;
		top: 30%;
  		
}
.box{
	background-color:black;
  width: 800px;
  border: 30px solid grey ;
  padding: 150px;
  margin: 150px;
}
